version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=file:./dev.db
      - JWT_SECRET=super_secret_key_123
      - PORT=3000
      - NODE_ENV=production
    volumes:
      - ./prisma:/usr/src/app/prisma
    restart: always
